.pagi {
    display: flex;
    justify-content: center;
    width: 30%;
    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        width: 100%;
        
        li {
            padding: 5px 10px;
            background-color: grey;

            a {
                text-decoration: none;
                color: white;
                font-size: 20px;
            }

            span {
                font-size: 20px;
            }
        }
    }
}